{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h1>Список задач</h1>
    <form method="post">
        {% csrf_token %}
        {{form.as_div}}
        <button type="submit">
            Створити задачу
        </button>
    </form>
    <div class="list-group">
        {% for task in tasks %}
            <a href="" class="gap-2 align-items-center d-flex list-group-item list-group-item-action mt-2">
                <b>{{ task.name }}</b>
                <span class="badge text-bg-info">{{ task.priority }}</span>
                {% if task.deadline %}
                    <span class="ms-auto">{{ task.deadline|date:"d.m.Y" }}</span>
                {% else %}
                    <i class="ms-auto bi bi-calendar2-x-fill"></i>
                {% endif %}
            </a>
        {% endfor %}
    </div>

    <a href="" class="btn btn-primary">Створити задачу</a>
</div>

{% if user.is_authenticated %}
    <form action="" method="post" class="position-absolute top-0 end-0 p-3">
        {% csrf_token %}
        <button type="submit" class="btn btn-outline-secondary">
            <i class="bi bi-box-arrow-left me-2"></i>Вийти
        </button>
    </form>
{% endif %}

{% endblock content %}