{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h1>Список задач</h1>
    <form method="get">
        {% csrf_token %}
        {{filter_form.as_div}}
        <button type="submit">
            Фільтрувати
        </button>
    </form>
    <div class="list-group">
        {% for task in tasks %}
            <a href="{% url 'task_update' task.id %}" class="gap-2 align-items-center d-flex list-group-item list-group-item-action mt-2">
                <b>{{ task.name }}</b>
                <span class="badge text-bg-info">{{ task.priority }}</span>
                {% if task.deadline %}
                    <span class="ms-auto">{{ task.deadline|date:"d.m.Y" }}</span>
                {% else %}
                    <i class="ms-auto bi bi-calendar2-x-fill"></i>
                {% endif %}
            </a>
        {% endfor %}
    </div>

    <a href="{% url 'task_create' %}" class="btn btn-primary mt-4">Створити задачу</a>
</div>


{% endblock content %}